@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var color = ViewData["Color"];
}

<div class="text-center">
    <h1 class="display-4" style="color:@color">Welcome to Allocate Bootcamp</h1>
</div>
